/*
 * Copyright(c) Oflane Software 2017. All Rights Reserved.
 */
@import "classes";
.el-pagination {
  .el-pagination__editor{
    height:28px;
  }
}
.el-tabs__header {
  margin: 0;
}
.el-dialog{
  .el-dialog__header{
    padding:20px;
    border-bottom: solid 1px #DDDDDD;
  }
  .el-dialog__body{
    padding:0;
  }
  .el-dialog__footer{
    border-top: solid 1px #DDDDDD;
    background: #f5f5f5;
    padding:20px;
  }
}
.el-pagination{
  float:right;
  .el-input__inner{
    line-height: 40px;
  }
}
.el-table{
  thead th,tbody td{
    padding: 3px 0;
  }
  thead {
    .cell {
      color: @first-color;
    }
    th {
      background: @blue-table;
    }
  }
}
.jsoneditor-vue{

}
.jsoneditor{
  min-height: 200px;
  textarea.jsoneditor-text, .ace-jsoneditor {
    min-height: 165px;
  }
  div.jsoneditor-outer div.jsoneditor-tree {
    min-height: 160px;
  }
}
table.jsoneditor-search {
  top:3px;
  .jsoneditor-refresh{
    height:20px;
    margin-top:2px;
  }
}
.jsoneditor-frame{
  border-radius: 2px;
}
div.jsoneditor .jsoneditor-search input {
  height: 24px;
}

div.jsoneditor-contextmenu ul li button {
  line-height: 24px;
}
.fac-card-list{
  .card{
    border-top: 3px solid @blue-button
  }
  .buttons{
    float:right;
  }
}
.fac-form-width1{
  max-width: 1000px;
}
.fac-form-width2{
  max-width: 1400px;
}
.fac-form-width3{
  max-width: 1800px;
}
div.jsoneditor {
  border: 1px solid #409EFF;
  div.jsoneditor-menu {
    background-color: #409EFF;
    border-bottom: 1px solid #409EFF;
  }
}
